version: '3'

networks:
  intranet:
  php:
    build:
      context: ./php-app/
      dockerfile: Dockerfile
    container_name: php
    volumes:
      - ./:/var/www/html
    ports:
      - "80:80"
    networks:
      - intranet
  db:
    image: mysql:5.1
    container_name: mysql
    restart: unless-stopped
    ports:
      - 3006:3006/tcp
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      
    networks:
      - intranet
